@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111;
  height: 100%;

}

.header {
  padding: 100px;
  text-align: center;
  background-image: url("../resources/kodujacy.webp");
  color: #000000;
}

.navbar {
    background-color: #252525;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-toggle:hover {
  background-color: #444;
  transform: scale(1.1);
}

.menu-toggle.active {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

.nav-list {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: translateY(-50px); /* Początkowo schowane poza ekranem */
    animation: slideIn 0.5s forwards; /* Animacja przesunięcia */
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.nav-list.show {
    display: flex;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
}

.nav-item a:active {
    background-color: #0056b3;
}               

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.gallery,
.gallery > .column {
  padding: 5px;
}

.column {
  width: 100%;
  padding: 5px;
}


.gallery:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #111;
  color: #33ff33;
  padding: 20px;
  font-family: 'VT323', monospace;
  text-align: center;
  box-shadow: 0 4px 10px rgba(51, 255, 51, 0.5);
}

.content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(51, 255, 51, 0.5);
}
.content img:hover {
  transform: scale(1.0);
  transition: transform 0.3s;
}
.content h3 {
  font-size: 20px;
  color: #33ff33;
  text-shadow: 2px 2px 5px rgba(51, 255, 51, 0.5);
}


.footer {
    background-color: #111;
    color: #33ff33;
    padding: 20px;
    text-align: center;
    font-family: 'VT323', monospace;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #33ff33;
    padding-top: 10px;
}

.about_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: #111;
}

.about_left {
  flex: 100%;
  position: static;
  top: 20px;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
}

.contact-info {
    margin-top: 20px;
    color: #33ff33;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px rgba(51, 255, 51, 0.5);
    text-align: center;
}

.contact-info h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    font-size: 20px;
    margin: 5px 0;
}

.contact-info a {
    color: #33ff33;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.about_left img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(51, 255, 51, 0.5);
  margin-top: 40px;
}
.about_right {
  flex: 100%;
  padding: 20px;
  color: #33ff33;
  font-family: 'VT323', monospace;
  text-shadow: 2px 2px 5px rgba(51, 255, 51, 0.5);
}

.about_right h1 {
    font-size: 28px;
    color: #33ff33;
    text-transform: uppercase;
    border-bottom: #33ff33;
    padding-bottom: 5px;
}

.about_right p {
    font-size: 20px;
    line-height: 1.6;

}

.project {
    background-color: #111;
    color: #33ff33;
    padding: 20px;
    font-family: 'VT323', monospace;
  }
  
  .full-description {
    display: none;
    margin-top: 10px;
  }

  .toggle-checkbox {
    display: none;
  }
  
  .toggle-checkbox:checked + .toggle-btn + .full-description {
    display: block;
  }
  
  .toggle-checkbox:checked + .toggle-btn {
    background-color: #006400;
  }
  
  .toggle-btn {
    background-color: #33ff33;
    color: #111;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'VT323', monospace;
  }
  
  .toggle-btn:hover {
    background-color: #006400;
  }

  .code-box {
  background-color: #111;
  color: #33ff33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(51, 255, 51, 0.5);
  font-family: 'VT323', monospace;
}

.code-box pre {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.code-box code {
  font-size: 18px;
}

  

@media screen and (min-width: 768px) {
  .column {
    width: 50%;
  }

  .content img:hover {
    transform: scale(1.1);
  }

  .menu-toggle {
    display: none;
  }

  .navbar {
    height: auto;
    flex-direction: row;
    opacity: 1;
    justify-content: center;
  }

  .nav-list {
    display:flex;
    flex-direction: row;
    gap: 40px;
    transform: none;
    animation: none;
}

  .about_container {   
    flex-direction: row;
  }

  .about_right {
      flex: 67%;
  }

  .about_left {
    flex: 33%;
    position: -webkit-sticky; /* Dla Safari */
    position: sticky;
  }

  
}

@media screen and (min-width: 1200px) {
  .column {
    width: 20%;
  }

  .content img:hover {
    transform: scale(2);

  }
}